       body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #f2f4f8;
      color: #333;
      direction: rtl;
             align-items: center;
             align-content: center;
        }
            .menu {
       height: 7vh;
    background-color: #fff;
      color: black;
      padding: 0.5vh 0%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    width: 100%;
     text-align: center;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    direction: ltr;
  }
  
    .menu .back {
    background-color: #eeeeee;
    font-size: 2.4vh;
      font-weight: 700;
      margin: 0px;
       margin-left: 2%;
       padding: 0.75vh 2.5vh;
       border: solid 0.25vh black;
       border-radius: 4vh;
  }
  
@keyframes bounce {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
    }
  
   .bounce {
      animation: bounce 0.08s ease;
    }

  @keyframes shake {
  0% { transform: translateX(0); text-shadow: 0px 0px 0rem red; }
  15% { transform: translateX(-2px); }
  30% { transform: translateX(4px); }
  45% { transform: translateX(-6px); }
  60% { transform: translateX(6px); text-shadow: 0px 0px 0.5rem red;}
  75% { transform: translateX(-4px); }
  90% { transform: translateX(2px); }
  100% { transform: translateX(0); text-shadow: 0px 0px 0.1rem red; }
}

.shake {
  animation: shake 0.3s;
}
  .shake::placeholder {
      color: red;
  }

        h1 {
            text-align: center;
              margin-top: 5vh;
              font-size: 4vh;
        }
        #commentForm {
            background: white;
            padding: 2vh;
            border-radius: 2vh;
              height: 40vh;
            width: 50vh;
            margin: auto;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
              justify-content: center;
              align-items: center;
              place-items: center;
              place-content: center;
              text-align: center;
        }
        input, textarea, .submit {
              height: fit-content;
            width: 45vh;
              font-size: 3vh;
            padding: 1vh;
            margin: 1vh 0;
            border-radius: 2vh;
            border: 0.2vh solid #ccc;
            outline: none;
        }
        .submit {
            background: #28a745;
            color: white;
              font-weight: 600;
            border: none;
        }
        .submit:hover {
            background: #218838;
        }
        #comments {
              margin: 2vh;
            margin-top: 5vh;
            max-width: 20vh;
              align-items: right;
        }
 h2 {
            font-size: 3vh;
              
        }
        .comment {
            background: white;
            padding: 2vh;
            padding-top: 1vh;
            border-radius: 3vh;
            margin-bottom: 2vh;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
              transition: transform 0.2s ease;
              height: fit-content;
              width: 48vh;
        }
        .nm {
              margin: 2vh 0vh;
              font-size: 2.5vh;
              border-radius: 2vh;
              padding: 0.4vh 1.4vh;
              height: fit-content;
              width: fit-content;
              text-align: center;
              justify-content: center;
              align-content: center;
              background-color: #ececec;
              white-space: normal;
              word-wrap: break-word;
              
        }
        .comment:hover {
              transform: scale(1.08);
        }
        .ms {
           font-size: 2.5vh;
              font-weight: 500;
        }
        .tm {
              color: grey;
              font-size: 2.1rem;
              font-weight: 350;
        }
